/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
* {
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1%;
}

h1 {
  color: #2B4E80;
  font-family: 'Life Savers', 'cursive';
  font-size: 3em;
  text-align: center;
}

.eight-ball-box {
  align-items: center;
  background: #E6ECF4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  display: block;
}

.eight-ball {
  height: 35%;
  width: 35%;
}

.eight-ball-box,
.woody {
  height: 400px;
  padding: 15px;
  width: 400px
}

.answer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 71%;
  justify-content: center;
}

.question-button-input {
  display: block;
  font-size: 1.5em;
  margin: .5%;
  padding: 1% 0;
  text-align: center;
  width: 100%;
}

input {
  background-color: white;
}

button {
  color: white;
}

.question-button {
  background-color: #2B4E80;
}

.question-button:disabled {
  background-color: #607AA0;
}

.question-button:hover:enabled {
  background-color: #1C3455;
}

.clear-favorite-button {
  background: #DE4841;
  font-size: 1.5em;
  padding: 1% 1.5%;
}

.clear-favorite-button:disabled {
  background: #D0CDCD;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

.button-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.favorite-awnsers {
  align-items: center;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  width: 82.5%;
}

.favorite-awnsers p {
  font-size: 2em;
  font-style: italic;
}
